[include]
  path = ~/.gitconfig-local

[push]
  default = simple

[alias]
  a = add
  ai = add --interactive

  c = commit
  cm = commit -m
  cam = commit -a -m
  ca = commit --amend # prompt for message
  cac = commit --amend -C HEAD # do not prompt for message

  rs = reset
  rsh = reset --hard

  rb = rebase
  rbi = rebase --interactive

  s = status
  d = diff
  co = checkout
  cl = clone
  b = branch
  l = log

  f = fetch
  ps = push
  pl = pull
  plr = pull --rebase

  t = log --graph --decorate --pretty=oneline --abbrev-commit
  tt = log --graph --all --decorate --pretty=oneline --abbrev-commit
  gg = log --graph --pretty=format:'%Cred%h%Creset %Cgreen(%cr)%Creset%Cblue[%an]%Creset -%C(yellow)%d%Creset %s' --abbrev-commit --date=relative
  ggh = !sh -c 'git gg | head'
  ggd = !sh -c 'git gg --left-right --graph --cherry-mark $1...$2' - # shows commits between branches, example: git ggd master development

  # Get the current branch name (not so useful in itself, but used in
  # other aliases)
  branch-name = "!git rev-parse --abbrev-ref HEAD"

  # Push the current branch to the remote "origin", and set it to track
  # the upstream branch
  publish = "!git push -u origin $(git branch-name)"

[color]
	ui = true

[user]
	name = Paul Benigeri
	email = me@benigeri.com
